@import url('https://fonts.googleapis.com/css?family=Heebo:400,900');

body {
  font-family: 'Heebo', 'Arial';
  font-weight: 400;
  margin: 0px;

}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: black;
}

body.night {
  background-color: black;
}

body.night * {
  color: white;
}

body.button {

}

h1 {
  font-size: 16px;
}

p {
  margin: 10px 0px;
}

header, nav, main, footer {
  margin: 20px 20px 0px 20px;
}

i {
  font-family: 'Fontawesome';
  font-style: normal;
  margin-right: 8px;
}


/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  height: 0;
  width: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

/* .slider:hover {
  opacity: .8;
} */

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Nav */

button {
  line-height: 36px;
  background-color: black;
  color: white;
  padding: 0px 18px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
   -webkit-transition: .4s;
  transition: .4s;
  font-size: 14px;
  cursor: pointer;
}

body.night button {
  background-color: none;
  border: 1px solid white;

}

body.night button.active, body.night button:active {
  background: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 1));
  color: black;
}


button.active, button:active {
  background-color: purple;
  outline: none;

}

button:hover, button:focus {
  transform: scale(1.1);
  outline: none;
}

@media (max-width: 600px) {
  button {
    margin-bottom: 12px;
  }
}


/* Main */

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Main Media query center text vertical */
@media (min-height: 600px) and (min-width: 600px) {

  .container.vertical-center-container {
    height: 70vh;
    position: relative;
  }
  .vertical-center-content {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.project-container {
  padding-top: 20px;
  margin-bottom: 40px;
}

/* Main images */

.project-image-wrap {
  position: relative;
  height: 400px;
  margin-bottom: 10px;
}

.project-image-wrap img {
  position: absolute;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

img.mobile {
  width: 22%;
}

img.desktop {
  width: 60%;
  z-index: -1;
}

.m2 {
  left: 30%;
  bottom: 0;
}

.m3 {
  right: 0px;
  bottom: 0px;
}

.m1 {
  bottom: 10%;
}

.d1 {
  left: 20%;
}

.d2 {
  left: 35%;
}

@media (max-width: 600px) {
  main {
    margin-top: 20px;
  }

  .project-image-wrap {
    height: 300px;
  }

  .project-image-wrap img {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
  }

}
@media (max-width: 400px) {

  .project-image-wrap {
    height: 200px;
  }

}


/* Contact */


.contact-form {
  text-align: left;
  display: block;
  background-color: lightgrey;
  padding: 20px;

}

.contact-form fieldset, .contact-form input, .contact-form textarea {
  border: none;
}
.contact-form label {
  display: block;
  /* margin-bottom: 2px; */
}

.contact-form input, .contact-form textarea  {
  line-height: 30px;
  padding: 0px 8px;
  width: 100%;
  margin-bottom: 10px;
  border-radius:3px;
}

.contact-form h1 {
  margin-bottom: 10px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

@media (min-height: 600px) and (min-width: 600px) {
  .form-wrap {
    margin-left: 0%;
    margin-right:0%;
    width: 100%;
  }

}


/* Footer */

footer {
  text-align: center;
  margin-bottom: 20px;
}

footer ul li {
  display: inline-block;
  margin: 0px 8px;
}

ul {
  list-style: none;
  width: 100%;
}

a, span {
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: .4s;
  transition: .4s;
}

a:hover, a:focus {
  font-size: 18px;
  outline: none;
}



/* MEDIA WIDTH QUERY STANDARDS */
/*
@mixin for-phone-only { */
  @media (max-width: 599px) {
  }
  /* }
@mixin for-tablet-portrait-up { */
    @media (min-width: 600px) {
    }
    /* }
@mixin for-tablet-landscape-up { */
  @media (min-width: 900px) {

  }
/* }
@mixin for-desktop-up { */
  @media (min-width: 1200px) {
  }
/* }
@mixin for-big-desktop-up { */
  @media (min-width: 1800px) {
  }
/* } */
